Repository espressif/esp-hosted: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

build_fw_esp32_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET spi
  tags:
  - build

build_fw_esp32s2_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32s2
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32s3_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32s3
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c2_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c2
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c3_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c3
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c6_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c6
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c6_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c6
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c5_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c5
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET spi
  tags:
  - build_fw

build_fw_esp32c5_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  allow_failure: true
  variables:
    IDF_TARGET: esp32c5
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET sdio
  tags:
  - build_fw

build_host_sdio_linux_6.8.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make
  tags:
  - hosted_runner_4

build_host_sdio_linux_6.14.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make
  tags:
  - hosted_runner6

build_host_sdio_linux_5.15.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check
  tags:
  - hosted_runner_3

build_host_sdio_linux_5.4.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check
  tags:
  - hosted_runner_2

build_host_spi_linux_6.8.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make target=spi
  tags:
  - hosted_runner_4

build_host_spi_linux_5.15.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check target=spi
  tags:
  - hosted_runner_3

build_host_spi_linux_5.4.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check target=spi
  tags:
  - hosted_runner_2

ammend ci for c5 sdio
  .gitlab-ci.yml
Due: none

fix(esp_hosted_ng): Fix param desc for ota file
  esp_hosted_ng/host/main.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): C5 related changes
  esp_hosted_ng/esp/esp_driver/network_adapter/main/cmd.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/esp_wifi_driver.h
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
  esp_hosted_ng/host/esp_cfg80211.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Add support of c5 beta
  README.md
  esp_hosted_ng/README.md
Due: none

fix(esp_hosted_ng): actively process RX packets
  esp_hosted_ng/host/main.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

Revert "ci(esp_hosted_ng): add CI firmware test suite for esp32c5"
  .gitlab-ci.yml
Due: none

feat(esp_hosted_ng): Add support for esp32c5 hosted ng
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
Due: none

ci(esp_hosted_ng): Update CI env to v6.0.1
  .gitlab-ci.yml
  esp_hosted_ng/esp/esp_driver/.env
Due: none

Revert "ci(esp_hosted_ng): Update CI env to v6.0.1"
  .gitlab-ci.yml
Due: none

Revert "Fix: ci for C5: Add --preview"
  .gitlab/ci/build_firmware.sh
Due: none

docs(esp_hosted_ng): Add info for kernel module parameters
  esp_hosted_ng/docs/setup.md
Due: none

ci(esp_hosted_ng): add CI firmware test suite for esp32c5
  .gitlab-ci.yml
Due: none

fix(hosted_fg_rawtp) Fix RawTP
  esp_hosted_fg/docs/Linux_based_host/Raw_TP_Testing.md
  esp_hosted_fg/esp/esp_driver/network_adapter/main/stats.c
Due: none

Revert "ammend ci for c5 sdio"
  .gitlab-ci.yml
Due: none

Revert "feat(esp_hosted_ng): Add support for esp32c5 hosted ng"
  README.md
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
Due: none

Fix: ci for C5: Add --preview
  .gitlab/ci/build_firmware.sh
Due: none

fix(esp_hosted_ng): Increase Uart task size for esp32c6
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c6
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Add docs for deassert cs for spi
  esp_hosted_ng/README.md
Due: none

fix(docs): Update sdio support for c5
  esp_hosted_ng/README.md
Due: none

feat(esp_hosted_ng): Add support for esp32c5 sdio
  esp_hosted_ng/docs/setup.md
  esp_hosted_ng/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/interface.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/sdio_slave_api.h
  esp_hosted_ng/host/include/esp_fw_version.h
  esp_hosted_ng/host/sdio/esp_sdio.c
  esp_hosted_ng/host/sdio/esp_sdio_decl.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Update esp hosted ng version to 1.0.5.0
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Update data throughput for c5 sdio 5ghz
  esp_hosted_ng/README.md
Due: none

fix(esp_hosted_ng): Remove specific compilation SDIO left-overs
  esp_hosted_ng/docs/setup.md
  esp_hosted_ng/host/rpi_init.sh
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Fix documentation for supported chipset
  README.md
Due: none

docs(esp_hosted_ng): Update throughput for c5 sdio
  esp_hosted_ng/README.md
Due: none

fix(esp_hosted_ng): Fix compile errors for ng
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/slave_bt.c
  esp_hosted_ng/esp/esp_driver/network_adapter/partitions.esp32c6.csv
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c6
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Update setup docs for esp_hosted ng
  README.md
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
Due: none

fix(esp_hosted_ng): Update wifi config for esp32c5
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio

fix(esp_hosted_ng): Fix De-assert HS signal on CS
  esp_hosted_ng/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Resolve some comments
  .gitlab-ci.yml
Due: none

fix(esp_hosted_ng): Fix build for kernel 6.17
  esp_hosted_ng/host/esp_cfg80211.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

update ci to force push
  .gitlab-ci.yml
Due: none

fix(esp_hosted_ng): fix current version
  esp_hosted_ng/VERSION
Due: none

Path conditions:
  build_fw_esp32_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32s2_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32s3_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c2_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c3_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c6_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c6_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c5_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c5_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_host_sdio_linux_6.8.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_6.14.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_5.15.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_5.4.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_6.8.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_5.15.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_5.4.0: any of: esp_hosted_ng/host/**/*
