Repository espressif/esp-hosted: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

build_fw_esp32_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET spi
  tags:
  - build

build_fw_esp32s2_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32s2
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32s3_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32s3
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c2_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c2
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c3_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c3
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c6_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c6
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c6_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c6
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c5_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c5
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET spi
  tags:
  - build_fw

build_fw_esp32c5_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  allow_failure: true
  variables:
    IDF_TARGET: esp32c5
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET sdio
  tags:
  - build_fw

build_host_sdio_linux_6.8.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make
  tags:
  - hosted_runner_4

build_host_sdio_linux_6.14.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make
  tags:
  - hosted_runner6

build_host_sdio_linux_5.15.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check
  tags:
  - hosted_runner_3

build_host_sdio_linux_5.4.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check
  tags:
  - hosted_runner_2

build_host_spi_linux_6.8.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make target=spi
  tags:
  - hosted_runner_4

build_host_spi_linux_5.15.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check target=spi
  tags:
  - hosted_runner_3

build_host_spi_linux_5.4.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check target=spi
  tags:
  - hosted_runner_2

fix(esp_hosted_ng): Fix compile errors for ng
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/slave_bt.c
  esp_hosted_ng/esp/esp_driver/network_adapter/partitions.esp32c6.csv
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c6
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Update setup docs for esp_hosted ng
  README.md
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
Due: none

fix(docs): Update sdio support for c5
  esp_hosted_ng/README.md
Due: none

fix(esp_hosted_ng): Fix De-assert HS signal on CS
  esp_hosted_ng/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Add docs for deassert cs for spi
  esp_hosted_ng/README.md
Due: none

fix(esp_hosted_ng): Increase Uart task size for esp32c6
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c6
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

[clang support] Change pointer type to volatile in utils crash handler
  esp_hosted_fg/common/utils/esp_hosted_cli.c
Due: none

fix(esp_hosted_ng): Remove specific compilation SDIO left-overs
  esp_hosted_ng/docs/setup.md
  esp_hosted_ng/host/rpi_init.sh
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

docs(esp_hosted_ng): Fix documentation for supported chipset
  README.md
Due: none

fix(esp_hosted_ng): Update IDF to 5.5.1
  esp_hosted_ng/esp/esp_driver/.env
  esp_hosted_ng/esp/esp_driver/lib/rom.patch
  esp_hosted_ng/esp/esp_driver/setup.sh
Due: none

esp_hosted_ng: add `modules_install` target
  esp_hosted_ng/host/Makefile
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

FG: clean up the code for power save
  esp_hosted_fg/common/esp_hosted_config.pb-c.c
  esp_hosted_fg/common/include/adapter.h
  esp_hosted_fg/common/include/esp_hosted_config.pb-c.h
  esp_hosted_fg/common/include/esp_hosted_log.h
  esp_hosted_fg/common/proto/esp_hosted_config.proto
  esp_hosted_fg/common/utils/esp_hosted_cli.c
  esp_hosted_fg/common/utils/esp_hosted_cli.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/CMakeLists.txt
  esp_hosted_fg/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_fg/esp/esp_driver/network_adapter/main/app_main.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/esp_hosted_coprocessor.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/esp_hosted_coprocessor.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/host_power_save.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/host_power_save.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/idf_component.yml
  esp_hosted_fg/esp/esp_driver/network_adapter/main/interface.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/mempool.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/mempool.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/protocomm_pserial.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/sdio_slave_api.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/sdio_slave_api.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_control.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_control.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/stats.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/stats.h
  esp_hosted_fg/esp/esp_driver/network_adapter/partitions.esp32c5.csv
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c2
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c6
  esp_hosted_fg/host/linux/host_control/rpi_init.sh
Due: none

Linux apps updated for FG
  esp_hosted_fg/common/esp_hosted_config.pb-c.c
  esp_hosted_fg/common/include/adapter.h
  esp_hosted_fg/common/include/esp_hosted_config.pb-c.h
  esp_hosted_fg/common/proto/esp_hosted_config.proto
  esp_hosted_fg/esp/esp_driver/network_adapter/main/esp_hosted_coprocessor.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/sdio_slave_api.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_control.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_control.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/stats.h
  esp_hosted_fg/host/control_lib/include/ctrl_api.h
  esp_hosted_fg/host/control_lib/src/ctrl_core.c
  esp_hosted_fg/host/linux/host_control/c_support/Makefile
  esp_hosted_fg/host/linux/host_driver/esp32/esp_serial.c
  esp_hosted_fg/host/linux/host_driver/esp32/main.c
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio.c
  esp_hosted_fg/host/linux/port/src/platform_wrapper.c
  esp_hosted_fg/host/stm32/app/control/control.c
  esp_hosted_fg/host/virtual_serial_if/src/serial_if.c
Due: none

Linux Auto fetching of IP tested on imx8mm board
  esp_hosted_fg/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_fg/esp/esp_driver/network_adapter/main/esp_hosted_coprocessor.c
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32
  esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c3
  esp_hosted_fg/host/linux/host_control/c_support/Makefile
  esp_hosted_fg/host/linux/host_driver/esp32/Makefile
  esp_hosted_fg/host/linux/host_driver/esp32/esp.h
  esp_hosted_fg/host/linux/host_driver/esp32/esp_api.h
  esp_hosted_fg/host/linux/host_driver/esp32/esp_bt.c
  esp_hosted_fg/host/linux/host_driver/esp32/main.c
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio.c
Due: none

Fix(spi): Added capabilities message
  esp_hosted_fg/host/linux/host_driver/esp32/main.c
  esp_hosted_fg/host/linux/host_driver/esp32/spi/esp_spi.c
Due: none

Fix(C5): Enable BT support for C5 over transport and UART
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.h
Due: none

fix(cli): simplify Kconfig and fix station reconnect logic
  README.md
  esp_hosted_fg/README.md
  esp_hosted_fg/common/include/esp_hosted_config.pb-c.h
  esp_hosted_fg/common/proto/esp_hosted_config.proto
  esp_hosted_fg/common/utils/esp_hosted_cli.c
  esp_hosted_fg/docs/Linux_based_host/Getting_started.md
  esp_hosted_fg/docs/Linux_based_host/Linux_based_readme.md
  esp_hosted_fg/docs/Linux_based_host/SDIO_setup.md
  esp_hosted_fg/docs/MCU_based_host/MCU_based_readme.md
  esp_hosted_fg/docs/common/c_demo.md
  esp_hosted_fg/docs/common/ctrl_apis.md
  esp_hosted_fg/docs/icons/esp32c5.svg
  esp_hosted_fg/docs/icons/wifi_dual_band.svg
  esp_hosted_fg/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_fg/esp/esp_driver/network_adapter/main/esp_hosted_coprocessor.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_control.c
  esp_hosted_fg/host/control_lib/src/ctrl_core.c
  esp_hosted_fg/host/linux/host_control/c_support/hosted_shell.c
  esp_hosted_fg/host/linux/host_control/c_support/nw_helper_func.c
  esp_hosted_fg/host/linux/host_control/c_support/nw_helper_func.h
  esp_hosted_fg/host/linux/host_control/c_support/test.h
  esp_hosted_fg/host/linux/host_control/c_support/test_utils.c
  esp_hosted_fg/host/linux/host_driver/esp32/esp_serial.c
Due: none

bugfix(c3_s3_uart_hci) Fix build error due to change in fn name
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.c
Due: none

Fix(c2_bt): FG: Update doc for uart setup
  esp_hosted_fg/docs/Linux_based_host/UART_setup.md
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_bt.h
  esp_hosted_fg/host/control_lib/src/ctrl_core.c
  esp_hosted_fg/host/linux/host_control/c_support/Makefile
  esp_hosted_fg/host/linux/host_control/c_support/hosted_shell.c
  esp_hosted_fg/host/linux/host_control/c_support/stress.c
  esp_hosted_fg/host/linux/host_control/c_support/test.c
  esp_hosted_fg/host/linux/host_control/c_support/test.h
  esp_hosted_fg/host/linux/host_control/c_support/test_utils.c
  esp_hosted_fg/host/linux/host_control/python_support/Makefile
  esp_hosted_fg/host/linux/host_control/python_support/commands_lib.py
  esp_hosted_fg/host/linux/host_control/python_support/py_parse/nw_helper_func.py
  esp_hosted_fg/host/linux/host_control/python_support/run_dhcp_server.sh
Due: none

feat(esp_hosted_ng): Release tag esp_hosted ng 1.0.4.0.0
  esp_hosted_ng/VERSION
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feature(esp32c5_sdio): Added ESP32-C5 SDIO support
  esp_hosted_fg/docs/Linux_based_host/SDIO_setup.md
  esp_hosted_fg/docs/Linux_based_host/rpi_esp32c6_sdio_setup.png
  esp_hosted_fg/docs/Linux_based_host/rpi_esp_sdio_setup.jpeg
  esp_hosted_fg/docs/sdio_protocol.md
  esp_hosted_fg/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_fg/esp/esp_driver/network_adapter/main/interface.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/sdio_slave_api.h
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio.c
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio_decl.h
Due: none

fix(esp_hosted_ng): Fix errorneous len check for sdio read
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

Add documentation for new features
  README.md
Due: none

feat(esp_hosted_ng): C5 related changes
  esp_hosted_ng/esp/esp_driver/network_adapter/main/cmd.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/esp_wifi_driver.h
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
  esp_hosted_ng/host/esp_cfg80211.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(ng): undefined reference in sdio_slave_api.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/sdio_slave_api.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio

"fix(esp_hosted_ng): Fix docs for supported chips"
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
Due: none

Revert "feat(esp_hosted_ng): C5 related changes"
  esp_hosted_ng/esp/esp_driver/network_adapter/main/cmd.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/esp_wifi_driver.h
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
  esp_hosted_ng/host/esp_cfg80211.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Add support for esp32c5 hosted ng
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
Due: none

Fix: ci for C5: Add --preview
  .gitlab/ci/build_firmware.sh
Due: none

ci(esp_hosted_ng): add CI firmware test suite for esp32c5
  .gitlab-ci.yml
Due: none

Fix(ng): build for 6.15 Fixes #607
  esp_hosted_ng/host/Makefile
  esp_hosted_ng/host/esp_debugfs.c
  esp_hosted_ng/host/esp_stats.c
  esp_hosted_ng/host/include/esp_kernel_port.h
  esp_hosted_ng/host/sdio/esp_sdio.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

ci(esp_hosted_ng): Update CI env to v6.0.1
  .gitlab-ci.yml
Due: none

ci(esp_hosted_ng): Add ci for hosted-ng for linux 6.14
  .gitlab-ci.yml
Due: none

Path conditions:
  build_fw_esp32_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32s2_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32s3_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c2_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c3_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c6_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c6_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c5_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c5_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_host_sdio_linux_6.8.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_6.14.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_5.15.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_5.4.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_6.8.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_5.15.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_5.4.0: any of: esp_hosted_ng/host/**/*
