Repository espressif/esp-hosted: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

build_fw_esp32_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET spi
  tags:
  - build

build_fw_esp32s2_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32s2
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32s3_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32s3
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c2_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c2
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c3_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c3
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c6_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c6
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c6_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c6
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET
  tags:
  - build_fw

build_fw_esp32c5_spi:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  variables:
    IDF_TARGET: esp32c5
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET spi
  tags:
  - build_fw

build_fw_esp32c5_sdio:
  stage: build_firmware
  image: $CI_DOCKER_REGISTRY/esp-env-v5.5:3
  allow_failure: true
  variables:
    IDF_TARGET: esp32c5
  script:
  - .gitlab/ci/build_firmware.sh $IDF_TARGET sdio
  tags:
  - build_fw

build_host_sdio_linux_6.8.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make
  tags:
  - hosted_runner_4

build_host_sdio_linux_6.14.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make
  tags:
  - hosted_runner6

build_host_sdio_linux_5.15.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check
  tags:
  - hosted_runner_3

build_host_sdio_linux_5.4.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check
  tags:
  - hosted_runner_2

build_host_spi_linux_6.8.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make target=spi
  tags:
  - hosted_runner_4

build_host_spi_linux_5.15.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check target=spi
  tags:
  - hosted_runner_3

build_host_spi_linux_5.4.0:
  stage: build_host
  script:
  - cd esp_hosted_ng/host
  - make check target=spi
  tags:
  - hosted_runner_2

fix(esp_hosted_ng): fix current version
  esp_hosted_ng/VERSION
Due: none

feat: add codespell check
  .codespellrc
  .gitlab-ci.yml
  .gitlab/ci/pre_commit.yml
  .pre-commit-config.yaml
Due: none

CI Fix
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(ng/host/spi): fix OOB reads when tx skb len < SPI_BUF_SIZE
  esp_hosted_ng/host/esp_bt.c
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): Fix host crash for sdio when init interface fails
  esp_hosted_ng/host/main.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): deinit/init interface when ndo_open and ndo_stop
  esp_hosted_ng/esp/esp_driver/network_adapter/main/cmd.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/esp_cfg80211.c
  esp_hosted_ng/host/include/esp.h
  esp_hosted_ng/host/include/esp_fw_version.h
  esp_hosted_ng/host/main.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat: Rename example files and update Kconfig
  esp_hosted_fg/common/esp_hosted_config.pb-c.c
  esp_hosted_fg/common/include/esp_hosted_config.pb-c.h
  esp_hosted_fg/docs/Linux_based_host/Auto_Network_Setup.md
  esp_hosted_fg/docs/Linux_based_host/Network_Split.md
  esp_hosted_fg/esp/esp_driver/network_adapter/main/CMakeLists.txt
  esp_hosted_fg/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_fg/esp/esp_driver/network_adapter/main/esp_hosted_coprocessor.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/example_http_client.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/example_http_client.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/example_mqtt_client.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/example_mqtt_client.h
  esp_hosted_fg/esp/esp_driver/network_adapter/main/host_power_save.c
  esp_hosted_fg/esp/esp_driver/network_adapter/main/slave_control.c
  esp_hosted_fg/host/control_lib/src/ctrl_core.c
  esp_hosted_fg/host/linux/host_control/c_support/hosted_daemon.c
  esp_hosted_fg/host/linux/host_control/c_support/hosted_shell.c
  esp_hosted_fg/host/linux/host_control/c_support/nw_helper_func.c
  esp_hosted_fg/host/linux/host_control/python_support/hosted_py_header.py
  esp_hosted_fg/host/linux/host_control/python_support/py_parse/nw_helper_func.py
  esp_hosted_fg/host/linux/host_control/python_support/requirements.txt
  esp_hosted_fg/host/linux/host_control/python_support/run_python_app.sh
  esp_hosted_fg/host/linux/host_control/python_support/setup_python.sh
Due: none

fix(fg_)refactor: improve driver sync and interface abstraction
  esp_hosted_fg/host/linux/host_control/c_support/Makefile
  esp_hosted_fg/host/linux/host_control/c_support/hosted_shell.c
  esp_hosted_fg/host/linux/host_driver/esp32/Makefile
  esp_hosted_fg/host/linux/host_driver/esp32/esp_api.h
  esp_hosted_fg/host/linux/host_driver/esp32/esp_bt.c
  esp_hosted_fg/host/linux/host_driver/esp32/esp_bt_api.h
  esp_hosted_fg/host/linux/host_driver/esp32/esp_if.h
  esp_hosted_fg/host/linux/host_driver/esp32/esp_kernel_port.h
  esp_hosted_fg/host/linux/host_driver/esp32/esp_serial.c
  esp_hosted_fg/host/linux/host_driver/esp32/esp_stats.c
  esp_hosted_fg/host/linux/host_driver/esp32/main.c
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio.c
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio_decl.h
  esp_hosted_fg/host/linux/host_driver/esp32/spi/esp_spi.c
  esp_hosted_fg/host/linux/host_driver/esp32/spi/esp_spi.h
Due: none

feat(esp_hosted_ng): Add support for wifi enterprise for ng
  esp_hosted_ng/README.md
  esp_hosted_ng/esp/esp_driver/network_adapter/main/cmd.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Add support for esp32c61 for esp_hosted_ng
  .gitlab-ci.yml
  README.md
  esp_hosted_ng/README.md
  esp_hosted_ng/docs/setup.md
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libcore.a
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libespnow.a
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libmesh.a
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libnet80211.a
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libpp.a
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libsmartconfig.a
  esp_hosted_ng/esp/esp_driver/lib/esp32c61/libwapi.a
  esp_hosted_ng/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_ng/esp/esp_driver/network_adapter/partitions.esp32c61.csv
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c61
  esp_hosted_ng/host/esp_cfg80211.c
  esp_hosted_ng/host/esp_utils.c
  esp_hosted_ng/host/include/esp.h
  esp_hosted_ng/host/include/esp_fw_version.h
  esp_hosted_ng/host/main.c
  esp_hosted_ng/host/sdio/esp_sdio.c
  esp_hosted_ng/host/sdio/esp_sdio_decl.h
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Use Pre-allocated buffers for data tx from slave to host
  esp_hosted_ng/esp/esp_driver/network_adapter/main/app_main.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/interface.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/sdio_slave_api.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio

fix(esp_hosted_ng): Resolve comments for feat/use_esfbuf_for_transport
  esp_hosted_ng/esp/esp_driver/network_adapter/main/app_main.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/sdio_slave_api.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_ng/host/include/esp_fw_version.h
  esp_hosted_ng/host/main.c
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): Fix len and offset validation for esp_hosted_ng
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/adapter.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/sdio_slave_api.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_ng/host/include/adapter.h
  esp_hosted_ng/host/main.c
  esp_hosted_ng/host/sdio/esp_sdio.c
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): Refactor spi tx and add compile time assertion for esf buf size
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/adapter.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/interface.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
  esp_hosted_ng/host/include/adapter.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): Abstract skb allocation and fix memory leaks
  esp_hosted_ng/host/esp_bt.c
  esp_hosted_ng/host/esp_cmd.c
  esp_hosted_ng/host/esp_stats.c
  esp_hosted_ng/host/include/esp_api.h
  esp_hosted_ng/host/include/esp_if.h
  esp_hosted_ng/host/main.c
  esp_hosted_ng/host/sdio/esp_sdio.c
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted): Fix issues related to inc/dec of tx_pending count
  esp_hosted_fg/host/linux/host_driver/esp32/sdio/esp_sdio.c
  esp_hosted_fg/host/linux/host_driver/esp32/spi/esp_spi.c
  esp_hosted_ng/host/sdio/esp_sdio.c
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): Fix thread safety and NULL checks
  esp_hosted_ng/host/esp_stats.c
  esp_hosted_ng/host/main.c
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Made documentations and other changes for bt uart
  esp_hosted_ng/docs/setup.md
  esp_hosted_ng/esp/esp_driver/network_adapter/main/Kconfig.projbuild
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/slave_bt.h
  esp_hosted_ng/esp/esp_driver/network_adapter/main/sdio_slave_api.c
  esp_hosted_ng/esp/esp_driver/network_adapter/main/slave_bt.c
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c2
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c3
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c6
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c61
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32s3
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

feat(esp_hosted_ng): Bump to release version 1.0.6.0.0
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

fix(esp_hosted_ng): Fix overlapping of uart gpio pins with HOST_WAKEUP
  esp_hosted_ng/docs/setup.md
  esp_hosted_ng/esp/esp_driver/network_adapter/main/include/esp_fw_version.h
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c5
  esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.defaults.esp32c61
  esp_hosted_ng/host/include/esp_fw_version.h
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio, build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

Linux FG host: fix kmod + C app build for restructured repo
  fg/host/components/eh_host_rpc_lib/include/ctrl_api.h
  fg/host/components/eh_host_rpc_lib/port/linux/src/platform_wrapper.c
  fg/host/components/eh_host_rpc_lib/src/ctrl_core.c
  fg/host/components/eh_host_transport/src/kmod/sdio/esp_sdio.c
  fg/host/components/eh_proto_linux_v1/CMakeLists.txt
  fg/host/components/eh_proto_linux_v1/include/esp_hosted_cp_lin_fg_pbuf.h
  fg/host/components/eh_proto_linux_v1/src/esp_hosted_config.pb-c.c
  fg/host/linux/kmod/Makefile
  fg/host/linux/kmod/include/esp.h
  fg/host/linux/kmod/include/sdio/esp_sdio_decl.h
  fg/host/linux/kmod/src/eh_host_transport_linux_impl.c
  fg/host/linux/kmod/src/esp_bt.c
  fg/host/linux/kmod/src/main.c
  fg/host/linux/user_space/c_demo_app/CMakeLists.txt
  fg/host/linux/user_space/c_demo_app/app_custom_rpc.c
  fg/host/linux/user_space/c_demo_app/app_custom_rpc.h
  fg/host/linux/user_space/c_demo_app/eh_host_ext_peer_data_transfer.c
  fg/host/linux/user_space/c_demo_app/hosted_shell.c
  fg/host/linux/user_space/c_demo_app/test_utils.c
  modules/common/eh_common/include/eh_common_fw_version.h
  modules/common/eh_common/include/eh_common_interface.h
  modules/coprocessor/eh_cp_transport/include/common/eh_transport.h
  modules/coprocessor/features/eh_cp_feat_nw_split/src/eh_cp_feat_nw_split.c
Due: none

feat(fg_host): peer data transfer, serial reassembly, RPC hardening
  esp_hosted_fg/host/control_lib/src/ctrl_core.c
  esp_hosted_fg/host/linux/host_control/c_support/Makefile
  esp_hosted_fg/host/linux/host_control/c_support/app_custom_rpc.c
  esp_hosted_fg/host/linux/host_control/c_support/app_custom_rpc.h
  esp_hosted_fg/host/linux/host_control/c_support/app_peer_data_transfer.c
  esp_hosted_fg/host/linux/host_control/c_support/app_peer_data_transfer.h
  esp_hosted_fg/host/linux/host_control/c_support/ctrl_config.h
  esp_hosted_fg/host/linux/host_control/c_support/esp_hosted_host_peer_data_transfer.c
  esp_hosted_fg/host/linux/host_control/c_support/hosted_shell.c
  esp_hosted_fg/host/linux/host_control/c_support/test.c
  esp_hosted_fg/host/linux/host_control/c_support/test_utils.c
  esp_hosted_fg/host/linux/host_driver/esp32/esp_serial.c
  esp_hosted_fg/host/linux/host_driver/esp32/main.c
Due: none

**feat(hw-test): probe-based chip detection and board auto-config with UI support**
  tests/hw/eh_test_runner.py
  tests/infra/config.py
  tests/infra/hardware.py
  tests/tools/eh_test_ui.py
Due: none

ci: add GitHub Action to upload component to registry
  .github/workflows/upload_component.yml
Due: none

fix: add license field for component registry upload
  idf_component.yml
Due: none

fix(esp_hosted_ng): sync setup.ps1 with setup.sh changes
  esp_hosted_ng/esp/esp_driver/setup.ps1
Due: none

ci(esp_hosted_ng): add sync check for setup.sh and setup.ps1
  .gitlab-ci.yml
  .gitlab/ci/check_setup_sync.sh
Due: none

ci: parameterize setup sync check and add esp_hosted_fg coverage
  .gitlab-ci.yml
  .gitlab/ci/check_setup_sync.sh
Due: none

fix(esp_hosted_fg): bump IDF pin to v5.5.4 for ESP32-C5 support
  esp_hosted_fg/esp/esp_driver/setup-idf.ps1
  esp_hosted_fg/esp/esp_driver/setup-idf.sh
Due: none

Add log_level as module parameter
  esp_hosted_ng/host/main.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

For SPI communication: Add verbose prints data ready and handshake interrupts. Also print the 32 first bytes the buffer received (previously only TX was printed)
  esp_hosted_ng/host/spi/esp_spi.c
Due: build_host_sdio_linux_6.8.0, build_host_sdio_linux_6.14.0, build_host_sdio_linux_5.15.0, build_host_sdio_linux_5.4.0, build_host_spi_linux_6.8.0, build_host_spi_linux_5.15.0, build_host_spi_linux_5.4.0

change to 10 Mhz spi clk, seem to not work reliably above that
  esp_hosted_ng/esp/esp_driver/network_adapter/main/spi_slave_api.c
Due: build_fw_esp32_sdio, build_fw_esp32_spi, build_fw_esp32s2_spi, build_fw_esp32s3_spi, build_fw_esp32c2_spi, build_fw_esp32c3_spi, build_fw_esp32c6_sdio, build_fw_esp32c6_spi, build_fw_esp32c5_spi, build_fw_esp32c5_sdio

Path conditions:
  build_fw_esp32_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32s2_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32s3_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c2_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c3_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c6_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c6_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c5_spi: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_fw_esp32c5_sdio: any of: esp_hosted_ng/esp/esp_driver/network_adapter/**/*
  build_host_sdio_linux_6.8.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_6.14.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_5.15.0: any of: esp_hosted_ng/host/**/*
  build_host_sdio_linux_5.4.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_6.8.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_5.15.0: any of: esp_hosted_ng/host/**/*
  build_host_spi_linux_5.4.0: any of: esp_hosted_ng/host/**/*
